<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<button ion-button (click)="changeFirstData()">changeFirstData</button>
  <button ion-button (click)="addOneData()" >addOneData</button>
  <button ion-button (click)="removeOneData()">removeOneData</button>
  <dx-data-grid ng-if="columns" [dataSource]="datas" [columns]="columns" 
  [allowColumnResizing]="true" 
  [allowColumnReordering]="true"
  [showBorders]="true"
  [showColumnHeaders]="true"
  [showRowLines]="true"
  [showColumnHeaders]="true"
  [showColumnLines]="true"
  [filterRow]="true"
  [headerFilter]="true"
   >
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-paging [pageSize]="10" [pageIndex]="0"></dxo-paging>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-header-filter visible="true"></dxo-header-filter>
    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
    <dxo-state-storing [customLoad]="customLoad" [customSave]="customSave" [enabled]="enabledLoading" [storageKey]="storageKey" [type]="storageType" ></dxo-state-storing>
  </dx-data-grid>-->

  <button ion-button (click)="changeFirstData()">changeFirstData</button>
  <button ion-button (click)="addOneData()">addOneData</button>
  <button ion-button (click)="removeOneData()">removeOneData</button>
  <dx-data-grid [dataSource]="orders" keyExpr="orderId" (onEditingStart)="onEditingStart($event)" (onRowUpdating)="onRowUpdating($event)"
    (onRowUpdated)="onRowUpdated($event)" (onDisposing)="onDisposing($event)">

    <dxi-column *ngFor="let col of orderColumns" [dataField]="col.dataField || col" cellTemplate="cellTemplate">
    </dxi-column>

    <dxo-editing [allowUpdating]="true" mode="cell"></dxo-editing>
    <dxo-paging [enabled]="false"></dxo-paging>

    <div *dxTemplate="let cell of 'cellTemplate'">
      <span [class]="cell.data.orderItems | orderItemClass:cell.column.dataField">{{cell.data.orderItems | orderItemValue:cell.column.dataField}}</span>
      <span>{{cell.data.orderItems[cell.column.dataField].currentValue}}</span>
    </div>

  </dx-data-grid>
</ion-content>